<h3>Report</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, iure possimus eius nostrum dicta recusandae amet placeat voluptate illo itaque reiciendis optio et, ipsa accusamus ut vero aut asperiores excepturi?</p>
<ul class="search-form">
    <li>    
        <form id="search-site"  action='/stories/search/:query' method='get'>
            <div class="input-group">
                    <i class="fas fa-search fa-large" ></i>
                    <div class="input-field">
                    <input id="search" type="search" name='query' placeholder="Enter Pincode">
                    <label class="label-icon" for="search">
                    </label>
                 </div>
                <button type="submit" class="input-group-addon btn">search</button>
            </div>

        </form>  
    </li>   
</ul>